<%- include("partials/header")%>
    <%- include("partials/nav")%>
        <!--  -->
        <div class="d-flex justify-content-between rounded p-5 mt-5 text-center container bg-dark text-white">
            <div class="rounded p-5 mt-5 text-center">
                <h1 class="fs-1 fw-bolder">About Book Store</h1>
                <p class="my-3">
                    Dive into the world of books with our Bookstore Whether you're looking to discover new ,<br />reads
                    share your thoughts, or connect with fellow book enthusiasts, our platform offers<br />
                    everything you need for an enriching reading experience. Happy reading!
                </p>
                <button class="mt-3 btn btn-light">Explore More</button>
            </div>

            <form class="rounded p-5 mt-5 text-center" action="/send-mail" method="post">
                <h1 class="mb-5 fs-1 fw-bolder">Join Our News Letter</h1>
                <input type="email" class="form-control" name="email" placeholder="email@domain.com" />
                <button input type="email" class="w-100 mt-3 btn btn-success">Explore More</button>
            </form>
        </div>

        <!--  -->
        <%- include("partials/footer")%>